MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=habit_assistant
MYSQL_USER=habit
MYSQL_PASSWORD=change_me_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3307
FEISHU_WEBHOOK_URL=
X_BEARER_TOKEN=
